.muscle-container {
    border: thick double#2e4756;
    text-align: right;
    margin: 0px 2px 0px 2px;
    padding: 2px;
    background: #dbc2cf;
    height: 100px;
    
}   
.muscle-container p{
    text-align: center;
}

.error {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px;
    background-color: #fff;
}
.nav-bar {
    display: flex;
    background-color: #9FA2B2;
    text-align: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
}

.nav-link {
    color: black;
}

.personal-overall-max {
    background-color: #9fa2b2;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}


#body-builder-quote {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.body-builder-quote {
    background-color: #C5D5E4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

.wordart {
  font-family: Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: #24c0fd;
    -webkit-text-stroke: 0.01em #0000aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
    text-shadow: 0.13em -0.13em 0px #0000aa;
    letter-spacing: -0.05em;
}


.tab-group {
    margin: 0 auto;
    max-width: 40em;
    width: 100%
}

.tab {
    position: relative;
    width: 100%
}

.tab input {
    position: absolute;
    left:0;
    top: 0;
    z-index:-999;
}

#display-container li{
    list-style: none;
}

.tab label {
    background: #3c7a89;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 3;
    padding-left: .5em;
    transition: letter-spacing .55s;
}

.tab input:focus + label,
.tab label:hover {
    background: #234756;
    letter-spacing:1px;
}

.tab-content {
    max-height:0;
    overflow: hidden;
    transition: all .35s;
}

.tab-content p {
    margin: 1em 0;
}

.tab input:checked ~ .tab-content{
    max-height: 50em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #9fa2b2, #3c7a89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px 0px;
}

button {
    border-radius: 20px;
    border: 1px solid #2E4756;
    background: #2E4756;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.container {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}
h1 {
    font-weight: bold;
    margin:0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

#test-chart {
    background-color: #dbc2cf;
}

span.status {
    font-size: 12px;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.log-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/* move colored overlay right (sign in) */
.log-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/*move colored overlay to left*/

.log-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}


.log-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

/* Move overlay to right */
.log-container.right-panel-active .overlay{
    transform: translateX(50%);
}

.log-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}


.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form-container input {
    background: #d5d5e4;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}


.overlay {
    background: #8896ab;
    background: linear-gradient(to right, #8896ab, #334e5f, 
    #8896ab) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
} */

.exercise-name {
    background-color: #C5D5E4;
}