{% extends 'base.html'%}
{% block title %}All Exercises{% endblock %}

{% block body %}
<h1>All Exercises</h1>
<ul>
    {# this needs to be turned into an ajax request to refresh with more exercises rather than re-routing #}
    <a href={{exercises.next}}>View next 20 exercises</a>
    <ul>
    {% for exercise in exercises['results'] %}
        <li>    
            <p><a href='/exercise_details/?exercise_id={{exercise['id']}}'>{{exercise['name']}}<a></p>
            <br>
            
        </li>
    {% endfor %}
    </ul>

{% endblock %}
