{% extends 'base.html'%}
{% block title %}Exercise Details{% endblock %}

{% block body %}
<h1>Exercises</h1>
<div class="container" id="container">
{% for result in exercise['results']%}
    <div class="exercise-details" id="{{result['id']}}">
        <div class="exercise-name">
            <h3>
                {{ result['name'] }}
            </h3>
        </div>
        <div class="exercise-description" id="description-{{result['id']}}">
            {{ result['description']| safe }}
        </div>
        <div>
            <form action"/add_to_workout" method="POST">
                
                <label for="database items"></label>
                
                <input type="hidden" name="exercise_name" id="exercise-name-{{result['id']}}" value="{{result['name']}}">
                <input type="hidden" name="exercise_description" id="exercise-description-{{result['id']}}" value="{{result['description']}}">
                <label for="add-to-workout">Add to Workout Scheduled {{session['workout']}}</label>
                
                <button class="add-to-workout" id="{{ result['id'] }}">Submit</button>
            </form>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}  
