{% extends 'base.html'%}
{% block title %}Exercise Details{% endblock %}

{% block body %}
<div class="container">
    <h1>Exercises</h1>
    <div class="tab-group">
    {% for result in exercise['results']%}
        <div class="tab">
            <input id="{{result['id']}}" type="radio" name="tabs">
            <label for="{{result['id']}}">
                <h3>{{ result['name'] }}</h3>
            </label>
            
            
            <div class="tab-content" id="description-{{result['id']}}">
                <p>{{ result['description']| safe }}</p>
                <form action"/add_to_workout" method="POST">    
                    <label for="database items"></label>
                    
                    <input type="hidden" name="exercise_name" id="exercise-name-{{result['id']}}" value="{{result['name']}}">
                    <input type="hidden" name="exercise_description" id="exercise-description-{{result['id']}}" value="{{result['description']}}">
                    Add to Workout Scheduled {{session['workout']}}
                    
                    <button class="add-to-workout" id="{{ result['id'] }}">Submit</button>
                    
                </form>
            </div>
        </div>
    {% endfor %}    
    </div>

</div>
{% endblock %}  
