{% extends 'base.html'%}
{% block title %}Exercises Home{% endblock %}

{% block body %}
<h1>Welcome</h1>
"{{ bb_data['quote']}}"
-{{ bb_data['author']}}

<h2>Navigation</h2>
<ul>
    <li><a href="/all_exercises">View all exercises</a></li>
    <li><a href="/dashboard">Go to user dashboard</a></li>
</ul>

<h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}
