{% extends 'base.html'%}
{% block title %}Body{% endblock %}

{% block body %}
{#<div class="container-fluid"><h1>Select a Muscle Group</h1>#}
    {#<p />#}
{#</div>#}

<div>
<p />
</div>
{# create a grid #}
{# loop through rows#}
{# for row in elements #}
<div class="container">
    <h1>Select a Muscle Group</h1>
    <br>
    <div class="muscles">
        {% for details in muscles['results']|batch(3) %}
        <div class="row">
            {% for muscle in details %}  
            <div class="col-sm">
                <a href="/exercise_details/{{muscle['id']}}" class="muscle_id card" id={{muscle['id']}}>
                    <div class="card-header">
                        {{muscle['name']}}
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{muscle['name_en'] or " -  "}}</p>
                    </blockquote>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
        {%endfor%}
    </div>



{% endblock %}