{% extends 'base.html'%}
{% block title %}User Dashboard{% endblock %}

{% block body %}
<h1>User Dashboard</h1>
{# JS Chart will show with drop down of previously done exercises#}
{# Will have links to navigate around #}
{# API Bodybuilder quote here #}
<h2>Navigation</h2>
<ul>
    <li><a href="/workout_log">Log workout</a></li>
    <li><a href="/all_exercises">View all exercises</a></li>
    <li><a href="/muscle">View muscle list</a></li>
    <li><a href="/dashboard">View all users</a></li>
</ul>
{% endblock %}