{% extends 'base.html'%}
{% block title %}Workout Log{% endblock %}

{% block body %}
<h1>Workout_Log</h1>
<h2></h2>
{% comment %} view scheduled workouts {% endcomment %}
<ul>
    <form action='/update_log' method="PUT">
        <p>
            <
    {% comment %} show the last 5 scheduled workouts {% endcomment %}
    {% comment %} link to see more previous workouts {% endcomment %}

    {% comment %} once clicked, update form to show list of exercises with option to add {% endcomment %}

{% comment %} Need to display date, exercise list, form to log {% endcomment %}

{% endblock %}